<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>TODO LIST APP</title>
        <!-- Meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="../static/css/index.css" rel='stylesheet' type='text/css' media="all">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <body>
        <div class="form-group">
            <h1>Welcome to your TODO LIST {{ username }}</h1>
            <form role="form">
                <input type="text" class="form-control" placeholder="Your Task" name="task">
            </form>
            <button type="button" class="btn btn btn-primary">Add</button>
            <form role="form" action="{{ url_for('route_signout') }}" method="POST">
                <input type="submit" class="btn btn btn-primary" value="Sign Out">
            </form>
        </div>
        <div></div>
        <ul class="list-unstyled" id="todo"></ul>
    </body>
</html>
