<!DOCTYPE html>
<html lang="fr">
   <head>
      <title>TODO LIST APP</title>
      <!-- Meta tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <!-- Meta tags -->
      <!--stylesheets-->
      <link href="../static/css/login.css" rel='stylesheet' type='text/css' media="all">
      <!--//style sheet end here-->
      <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
   </head>
   <body>
      <div class="mid-class">
         <div class="art-right-w3ls">
            <h2>Sign In</h2>
            <form action="{{ url_for('route_signin') }}" method="POST">
               <div class="main">
                  <div class="form-left-to-w3l">
                     <input type="text" name="name" placeholder="Username" required="">
                  </div>
                  <div class="form-left-to-w3l ">
                     <input type="password" name="password" placeholder="Password" required="">
                     <div class="clear"></div>
                  </div>
               </div>
               <div class="btnn">
                  <button type="submit">Sign In</button>
               </div>
            </form>
            <div class="w3layouts_more-buttn">
               <h3>Don't Have an account..?
                  <a href="#content1">Sign Up Here
                  </a>
               </h3>
            </div>
            <div id="content1" class="popup-effect">
               <div class="popup">
                  <div class="letter-w3ls">
                      <form action="{{ url_for('route_register') }}" method="POST">
                        <div class="form-left-to-w3l">
                           <input type="text" name="name" placeholder="Username" required="">
                        </div>
                        <div class="form-left-to-w3l">
                           <input type="tel" name="phone" placeholder="Phone" required="">
                        </div>
                        <div class="form-left-to-w3l">
                           <input type="email" name="mail" placeholder="Email" required="">
                        </div>
                        <div class="form-left-to-w3l">
                           <input type="password" name="password" placeholder="Password" required="">
                        </div>
                        <div class="btnn">
                           <button type="submit">Sign Up</button>
                           <br>
                        </div>
                     </form>
                     <div class="clear"></div>
                  </div>
                  <a class="close" href="#">&times;</a>
               </div>
            </div>
         </div>
         <div class="art-left-w3ls">
            <h1 class="header-w3ls">
               TODO LIST WEB APP
            </h1>
         </div>
      </div>
      <footer class="bottem-wthree-footer">
         <p>
            Benjamin Bourgeois | Oriane Aumoitte | Celeste Bousseau
         </p>
      </footer>
   </body>
</html>
